In [15]:
import pandas as pd

In [1]:
import seaborn as sns

In [9]:
p_df = sns.load_dataset('penguins')

In [10]:
test_df = p_df

In [11]:
test_df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [12]:
test_df_categoricals= test_df[['species','island']]

In [18]:
test_df_categoricals[['species']]

    species
0    Adelie
1    Adelie
2    Adelie
3    Adelie
4    Adelie
..      ...
339  Gentoo
340  Gentoo
341  Gentoo
342  Gentoo
343  Gentoo

[344 rows x 1 columns]

## One Hot Encoding

In [17]:
pd.get_dummies(test_df_categoricals['species'])

     Adelie  Chinstrap  Gentoo
0         1          0       0
1         1          0       0
2         1          0       0
3         1          0       0
4         1          0       0
..      ...        ...     ...
339       0          0       1
340       0          0       1
341       0          0       1
342       0          0       1
343       0          0       1

[344 rows x 3 columns]

## Ordinal Encoding

In [21]:
from sklearn.preprocessing import OrdinalEncoder