In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('marketing_customer_analysis_clean.csv')

In [3]:
data.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [4]:
data.shape

(10910, 27)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

## EDA

In [6]:
data_numericals = data.select_dtypes(include="number")

In [7]:
categorical_columns = data.astype('category')

In [8]:
X = data.drop("total_claim_amount", axis=1)

In [9]:
y = data[['total_claim_amount']]

In [10]:
cat_encoded = pd.get_dummies(categorical_columns)

In [11]:
final_df = pd.concat([data_numericals,cat_encoded],axis=1)

In [12]:
X = final_df.drop(columns="total_claim_amount")
y = final_df["total_claim_amount"]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [14]:
np.array(y_train).reshape(-1,1).shape

(8182, 1)

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

##powertransform response
from sklearn.preprocessing import PowerTransformer
pt = PowerTransformer()
pt.fit(np.array(y_train).reshape(-1,1))
y_train_t = pt.transform(np.array(y_train).reshape(-1,1))
y_test_t = pt.transform(np.array(y_test).reshape(-1,1))

In [ ]:
from sklearn.linear_model import LinearRegression
#model fitting
lm = LinearRegression()

In [ ]:
model = lm.fit(X_train_scaled, y_train_t)

In [ ]:
y_pred = model.predict(X_test_scaled)

In [ ]:
residual_df = pd.DataFrame({'y_test':y_test,'y_pred':y_pred, 'res':y_pred-y_test)

In [ ]:
residual_df

In [ ]:
plt.scatter(x=numericals["total_bill"], y=numericals["tip"])

## Preprocessing - Categorical variables encoding

In [ ]:
cat_encoded = pd.get_dummies(categoricals)

In [ ]:
final_df = pd.concat([numericals,cat_encoded],axis=1)

### Xy split

In [ ]:
X = final_df.drop(columns="tip")
y = final_df["tip"]

In [ ]:
X.head()

### Train-test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

### Scaling / Standardizing / PowerTransforming

In [ ]:
np.array(y_train).reshape(-1,1).shape

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

##powertransform response
from sklearn.preprocessing import PowerTransformer
pt = PowerTransformer()
pt.fit(np.array(y_train).reshape(-1,1))
y_train_t = pt.transform(np.array(y_train).reshape(-1,1))
y_test_t = pt.transform(np.array(y_test).reshape(-1,1))

## Modelling

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
#model fitting
lm = LinearRegression()
model = lm.fit(X_train_scaled, y_train_t)

In [ ]:
y_pred = model.predict(X_test_scaled)

In [ ]:
y_test_t = y_test_t.reshape(61,)

In [ ]:
y_pred = y_pred.reshape(61,)

In [ ]:
residual_df = pd.DataFrame({'y_test':y_test_t,'y_pred':y_pred, 'res':y_pred-y_test_t})

In [ ]:
residual_df

In [ ]:
from sklearn.metrics import mean_squared_error as mse, r2_score as r2

In [ ]:
model_mse = mse(y_test_t, y_pred)
model_r2 = r2(y_test_t,y_pred)
model_rmse = np.sqrt(model_mse)

In [ ]:
model_r2, model_mse, model_rmse

### Feature importance

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
fi_df = pd.DataFrame({'var': X_train.columns, 'coef': model.coef_.flatten()})

In [ ]:
fi_df

In [ ]:
plt.bar(x=fi_df["var"], height=fi_df["coef"])
plt.xticks(rotation=45)

In [ ]:
X['total_bill'].max()

In [ ]:
# y_pred vs y_test
plt.scatter(x=y_test_t, y = y_pred)

In [ ]:
# distribution of residuals
residual_df['res'].hist()

In [ ]:
# checking for homoscedasticity (constant variance of residuals)
plt.scatter(x=residual_df["y_pred"],y=residual_df["res"])

In [ ]:
Carmen_inputs = [input(f"please input your {var}") for var in X_train.columns]

In [ ]:
Carmen_inputs = np.array(Carmen_inputs,dtype='float')

In [ ]:
Carmen_inputs = Carmen_inputs.reshape(1,-1)

In [ ]:
Carmen_inputs

In [ ]:
#scale input
Carmen_scaled = scaler.transform(Carmen_inputs)

In [ ]:
Carmen_tip = model.predict(Carmen_scaled)

In [ ]:
print(Carmen_tip)

In [ ]:
pt.inverse_transform(Carmen_tip)