In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [14]:
import numpy as np

In [3]:
p_df = sns.load_dataset('penguins')

In [4]:
test_df = p_df

In [5]:
test_df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [6]:
test_df_categoricals= test_df[['species','island']]

In [7]:
test_df_categoricals[['species']]

    species
0    Adelie
1    Adelie
2    Adelie
3    Adelie
4    Adelie
..      ...
339  Gentoo
340  Gentoo
341  Gentoo
342  Gentoo
343  Gentoo

[344 rows x 1 columns]

## One Hot Encoding

In [8]:
pd.get_dummies(test_df_categoricals['species'])

     Adelie  Chinstrap  Gentoo
0         1          0       0
1         1          0       0
2         1          0       0
3         1          0       0
4         1          0       0
..      ...        ...     ...
339       0          0       1
340       0          0       1
341       0          0       1
342       0          0       1
343       0          0       1

[344 rows x 3 columns]

## Ordinal Encoding

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [35]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, PowerTransformer, OrdinalEncoder

In [11]:
p_df.dropna(inplace=True)

In [30]:
p_df["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [36]:
enc = OrdinalEncoder(categories = [["Chinstrap", "Adelie", "Gentoo"]]) #with this I'm making my hierachy. 0,1,2
enc.fit(p_df[["species"]])
enc.transform=(p_df[["species"]])

In [13]:
p_df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

In [17]:
scaler = MinMaxScaler()

In [20]:
shoe_sizes = np.array([42.5, 47, 39, 46, 42]).reshape(-1,1)

In [29]:
scaler.fit(shoe_sizes)   #hier definiere ich min 39 und max 47

MinMaxScaler()

In [ ]:
scaler.fit_transform(shoe_sizes)   #transform und fit geht auch auf einmal

In [23]:
scaled_shoes = scaler.transform(shoe_sizes)

In [24]:
scaled_shoes

array([[0.4375],
       [1.    ],
       [0.    ],
       [0.875 ],
       [0.375 ]])

In [27]:
pt = PowerTransformer()